<app-alert></app-alert>
<div class="form-group row mt-1">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary" (click)="onAddUser()">
      Add User
    </button>
  </div>
  <div class="col-sm-2">
    <span class="fa fa-search form-control-feedback"></span>
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      [(ngModel)]="filteredText"
    />
  </div>
</div>
<table class="table table-striped table-hover table-bordered mt-3">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birthdate</th>
      <th>Type</th>
      <th>Title</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | filter: filteredText.toLowerCase()">
      <th scope="row">
        <a [routerLink]="[user.id]">{{ user.id }}</a>
      </th>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user?.birthDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ user.userType }}</td>
      <td>{{ user.userTitle }}</td>
      <td>{{ user.emailAddress }}</td>
    </tr>
  </tbody>
</table>

<app-loader></app-loader>
