<!-- TODO this has a different layout than the details which is confusing-->

<form *ngIf="!isFetching">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <div class="form-control" id="name" placeholder="name">
        {{ user?.name }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="surname" class="col-sm-2 col-form-label">Surname</label>
    <div class="col-sm-10">
      <div class="form-control" id="surname" placeholder="surname">
        {{ user?.surname }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="birthdate" class="col-sm-2 col-form-label">Birthdate</label>
    <div class="col-sm-10">
      <div class="form-control" id="birthdate" placeholder="birthdate">
        {{ utilityServices.formatDate(user?.birthDate) }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="userType" class="col-sm-2 col-form-label">Type</label>
    <div class="col-sm-10">
      <div class="form-control" id="userType" placeholder="userType">
        {{ user?.userType }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="userTitle" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <div class="form-control" id="userTitle" placeholder="userTitle">
        {{ user?.userTitle }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <div class="form-control" id="email" placeholder="email">
        {{ user?.emailAddress }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" (click)="onEditUser()">
        Edit
      </button>
      <button type="button" class="btn btn-danger ml-2" (click)="onDelete()">
        Delete
      </button>
    </div>
  </div>
</form>
